* {
  box-sizing: border-box;
}
body, html {
  width: 100%; 
  height: 100%;
  margin: 0; 
  padding: 0
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Signika', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}