.sgnm {

  height: 100%;
  position: relative;
  
  hr {
    color: $color-red;
    border: 0.3rem solid;
    width: 6rem;
  }

  h2 {
    font-size: 2rem;
  }

  &-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  &-hide {
    display: none;
  }

  &-button {
    display: block;
    width: 12rem;
    margin: 1rem auto;
    padding: .5rem 1rem;
    background: $color-orange;
    color: $color-white;
    border-radius: 2rem;
    text-align: center;
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

  &-left, &-right {
    width: 100%;
    
    @media only screen and (min-width: 600px) {
      width: auto;
      display: inline-block;
    }
  }

  &-left {
    float: left;
  }

  &-right {
    float: right;
  }

  &-cb {
    clear: both;
  }

  &-center {
    text-align: center;
  }

  &-top {
    vertical-align: top;
  }

  &-main {
    font-size: 1.8rem;
    line-height: 2.4rem;
  
    @media only screen and (min-width: $tablet-breakpoint) {
      font-size: 1.6rem;
      // height: 100%;
    }
  }

  &-outer-container {
    border-top: 1px solid $color-light-gray;
  }
  
  &-container {
    font-size: 1.8rem;
    padding: 0 3rem;
    position: relative;
    @media only screen and (min-width: $tablet-breakpoint) {
      margin: 0 auto;
      max-width: $container-max-width;
      font-size: 1.6rem;
      padding: 0;
    }
  
    p {
      line-height: 2.7rem;
      text-align: justify;
    }
  }

}