// Header
.sgnm-footer {
  background-color: $color-black;
  color: $color-white;
  line-height: 2.4rem;
  text-align: center;
  padding: 1rem 0;

  @media only screen and (min-width: $tablet-breakpoint) {
    font-size: 1.6rem;
  }
}

.footer-navigation-list-container {
  padding-top: 2rem;
  font-size: 1.8rem;

  li {
    display: inline-block;
    margin-right: 2rem;
    line-height: 4rem;
    a {
      color: $color-white;
    }
      
  }
}

.sgnm-copyright {
  font-size: 1.4rem;
}