@import 'app/styles/core';

.sgnm-contact {
  @media only screen and (min-width: 768px) {
    padding: 0 3rem;
  }
}

.contact-us-address-container {
  margin: 5rem 0;
  color: $color-dark-gray;

  h2 {
    color: $color-orange;
    text-transform: uppercase;
  }

  div {
    margin: 0 0 1rem 1rem;
  }
}

.contact-us-address-wrapper {
  border-bottom: 1px solid $color-light-gray;
}