$num-of-hero-images: 7;
$animation-delay: 8s;
$total-time-to-animate: $animation-delay * $num-of-hero-images;
 
.sgnm-bg-carousal {

  height: 100%;
  z-index: 0;
  margin: 0;
  padding: 0;

  &-item {
    &--bg { 
      width: 100%;
      height: 100%;
      min-height: 71.6rem;
      position: absolute;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      z-index: 0;
      backface-visibility: hidden;
      animation: sgnmImageAnimation $total-time-to-animate linear infinite 0s; 
    }

    &--desc {
      color: #fff;
      opacity: 0;
      position: absolute;
      bottom: 15px;
      bottom: 1.5rem;
      width: 70%;
      left: 15%;
      text-align: center;
      font-size: 22px;
      line-height: 1.5;
      
      font-family: BebasNeueRegular,Arial Narrow,Arial,sans-serif;
      
      -webkit-locale: pa;
    
      z-index: 1;
    
      animation: sgnmTitleAnimation $total-time-to-animate linear infinite 0s;
      padding: 5px 15px;
      border-radius: 10%;

      @media only scren and ( min-width: 1140px ) {
        margin: 0 auto;
        font-size: 40px;
        font-size: 4rem;
        line-height: 50px;
      }

    }
  }

  @for $i from 1 through $num-of-hero-images {
    li:nth-child( #{$i} ) &-item--bg {
      background-image: url('../images/home/hero/mob/' + $i + '-c.jpg');
      
      @media screen and ( min-width: 1140px ) {
          background-image: url('../images/home/hero/' + $i + '.jpg');
      }
    }
  }

  @for $i from 2 through $num-of-hero-images {
    
    &-item:nth-child( #{$i} ) {
      .sgnm-bg-carousal-item--desc, 
      .sgnm-bg-carousal-item--bg { 
        animation-delay: ( $animation-delay * ( $i - 1 ) ); 
      }
    } 
  }

}

@media only screen and ( min-width: 1140px ) {
  .sgnm-cb-slideshow li .d-align-left { 
      text-align: center;
      top: 45%;
      left: 10%;
      width: 30%;
  }

  .sgnm-cb-slideshow li .d-align-right { 
      text-align: center;
      top: 36%;
      right: 6%;
      width: 30%;
  }
}

/* Animation for the slideshow images */
@keyframes sgnmImageAnimation { 
  0% { opacity: 0;
  animation-timing-function: ease-in; }
  8% { opacity: 1;
       animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
/* Animation for the title */
@keyframes sgnmTitleAnimation { 
  0% { opacity: 0; background: none; }
  8% { opacity: 1; background: rgba(0,0,0,0.5); }
  17% { opacity: 1; background: rgba(0,0,0,0.5); }
  19% { opacity: 0; background: none; }
  100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .sgnm-cb-slideshow li span {
  opacity: 1;
}