@import 'app/styles/core';

  


.sgnm {

  &-carousal-header {
    text-align: center;
  }

}

  /*-----------------------------------
  * Section: Hero
  * Multiple-Versions: True
  -----------------------------------*/

      // Currently following is not supported in SCSS
      // $section-hero-version: 1
      // @import 'app/pages/index/components/sectionHero-v' + $section-hero-version + '/style';

      @import 'app/pages/index/components/sectionHero-v2/sectionHero-v2';
      
    /*-- End Section Hero --*/

.sgnm {
  /*-----------------------------------
  * Section Tri-widgets
  -----------------------------------*/
    .tri-widgets {
      height: auto;

      // @media only screen and (min-width: $tablet-breakpoint) {
      @media only screen and (min-width: 1068px) {
        min-height: 18rem;
      }
    }

    .hero-widget-container {
      // @media only screen and (min-width: $tablet-breakpoint+1) {
      @media only screen and (min-width: 972px) {
        position: relative;
        top: -3.5rem;
      }

      h3 {
        color: $color-orange;
      }
    }

    .hero-widget {
      width: 90%;
      min-height: 26rem;
      position:relative;
      background:#FFF;
      margin: 6rem auto 3rem;
      -webkit-box-shadow: 0 2px 6px 0px #777;
      -moz-box-shadow: 0 2px 6px 0px #777;
      box-shadow: 0 2px 6px 0px #777;

      text-align: center;
      padding: 3.1rem 4.1rem;

      // @media only screen and (min-width: $tablet-breakpoint) {
      @media only screen and (min-width: 972px) {
        width: 32.4%;
        display: inline-block;
        margin: 0 0.2rem;
        vertical-align: middle;
        height: 25rem;
      }
    }

    .hero-widget__icon {
      position: absolute;
      border: 1px solid $color-orange;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background: rgba(255, 59, 0, 0.84);
      left: 50%;
      top: 0;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    .tri-widgets-content {
      margin: 0;
      text-align: center;
    }

    .tri-widgets-content__address {
      max-height: 7.5rem;
      overflow: hidden;
    }
    /*-- End Section Tri-Widgets --*/

    &-button {
      @media only screen and (min-width: 972px) {
        display: inline-block;
      }
    }

  /*-----------------------------------
  * Section About
  -----------------------------------*/
    .about {
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
      }

      // @media only screen and (min-width: $tablet-breakpoint) {
      //   padding: 0;
      // }
    }

    .about-left-container__heading {
      font-size: 3rem;
      line-height: 1;
    }

    .about-left-container, .about-right-container {
      @media only screen and (min-width: 600px) {
        width: 50%;
        float: left;
        border-bottom: none;
      }
    }

    .about-left-container {
      height: auto;
    }

    .about-right-container {
      height: auto;
      background: url('../images/home/mataji-about.jpg') no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 33.1rem;

      @media only screen and (min-width: 600px) {
        width: 50%;
      }

      // img {
      //   @media only screen and (min-width: 600px) {
      //     width: 67%;
      //   }
      // }
    }

    /*-- End Section About --*/

  /*-----------------------------------
  * Section Objectives
  -----------------------------------*/
    .sgnm-objectives-wrapper {
      background: url('../images/home/mission-aim.jpg') no-repeat;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      width: 100%;

      color: white;

      @media only screen and (min-width: $primary-navigation-breakpoint) {
        height: 37rem;
      }
    }

    .sgnm-objectives {
      padding: 1rem 3rem;

      @media only screen and (min-width: $primary-navigation-breakpoint) {
        height: 31rem;
        width: 100%;
        padding: 1rem 0;
      }

      hr {
        text-align: left;
        margin: 0 auto 0 0;
        @media only screen and (min-width: $primary-navigation-breakpoint) {
          text-align: center;
          margin: 0 auto;
        }
      }
    }

    .sgnm-objectives__header {
      @media only screen and (min-width: $primary-navigation-breakpoint) {
        text-align: center;
      }
    }

    .sgnm-objectives-list {
      padding: 0;

      @media only screen and (min-width: $primary-navigation-breakpoint) {
        width: 33%;
        float: left;
      }

      li {
        margin: 2rem 0;
        letter-spacing: 0.1rem;
      }
    }
    /*-- End Section Objectives --*/

  /*-----------------------------------
  * Section Carousel
  -----------------------------------*/
    .galleria{ 
      max-width: 700px; 
      height: 400px; 
      background: #000; 
      margin: 0 auto; 
    }
    /*-- End Section Carousel --*/

}