  .sgnm-container__about, .sgnm-container__about-benefits-listed, .sgnm-container__about-long-description, {

    padding: 2rem 3rem 1rem;

    @media only screen and (min-width: 600px) {
      padding: 4rem 3rem 1rem;
    }

    @media only screen and (min-width: 1100px) {
      padding: 4rem 0 0;
      max-width: 115rem;
    }

    img {
      @media only screen and (min-width: 600px) {
        width: 47%;
        margin-top: 5px;
      }
    }
  }

/*******************************************
* Section Mission Intro
*****************************************/
  .sgnm-details-container {
    margin-top: 2rem;
  }

  .sgnm-about-details {
    @media only screen and (min-width: 600px) {
      width: 47%;
      margin-left: 2rem;
      margin-top: 0;
    }
  }

  .sgnm-container-about {
    margin-top: 3rem;
    padding: 0 3rem;
  }
  /*** End Section Mission Intro ***/


/*******************************************
* Section Benefits gained via camps
*****************************************/
  .sgnm-about-benefits-listed {
    background-color: $color-light-gray;

  }

  .sgnm-about-details li {
    margin: 2rem 0;
    list-style: circle;
    line-height: 2.7rem;
    text-align: justify;
  }

  .sgnm-about-details li:first-of-type {
    margin: 0;
  }
  /*** End Section Benefits ***/

/*******************************************
* Section - Mission objectives
*****************************************/
  /*** End Section Mission Objectives ***/