  /*******************************************
  * Section Mission Intro
  *****************************************/
  .sgnm-details-container {
    margin-top: 2rem;
  }

  .sgnm-about-mission {
    margin-top: 3rem;
  }
  /*** End Section Mission Intro ***/


/*******************************************
  * Section Benefits gained via camps
  *****************************************/
  .sgnm-about-benefits {
    background-color: $color-light-gray;

    .sgnm-container {
      padding-top: 3rem;
    }
  }
  /*** End Section Benefits ***/