.sgnm-event {
  max-width: 90rem;
  margin: 5rem auto;
  padding: 2rem;

  position: relative;

  -webkit-box-shadow: 0 2px 6px 0px #777;
  -moz-box-shadow: 0 2px 6px 0px #777;
  box-shadow: 0 2px 6px 0px #777;
}

.sgnm-event-section-left {
  display: inline-block;
  vertical-align: top;
}

.sgnm-event-img {
  position: relative;
  top: -4rem;
  width: 16rem;
}

.sgnm-event-button {
  margin: 2rem 0 1rem;
}

.sgnm-event-section-right {
  display: inline-block;
  padding-left: 3rem;
  width: 70%;
}

.sgnm-event-section-location {
  font-size: 2.7rem;
}