.sgnm-sewa-widow-sewa-container {
  margin: 5rem 0;

  img {
    width: 100%;
    @media only screen and (min-width: $tablet-breakpoint) {
      width: 80%;
    }
  }
}
.sgnm-sewa-widow-sewa-container {
  position: relative;
}
.sgnm-sewa-info-container {
  text-align: center;

  -webkit-box-shadow: 0 2px 6px 0px #777;
  -moz-box-shadow: 0 2px 6px 0px #777;
  box-shadow: 0 2px 6px 0px #777;

  padding: 2rem;
  background: $color-white;

  @media only screen and (min-width: $tablet-breakpoint) {
    width: 50%;
    position: absolute;
    right: 0;
    top: 8rem;
  }
}
