$num-of-items: 7;
$animation-delay: 10s;
$total-time-to-animate: $animation-delay * $num-of-items;

.container-sgnm-bachans {
 
  position: relative;
  margin: 0 auto;

  width: 100%;
  max-width: 1200px;

  height: 100vh;

  min-height: 600px;
  min-height: 60rem;

  max-height: 736px;
  max-height: 73.6rem;

  background-size: cover;
  background-color:	#EEEDF5;

  // background-image: url('../images/home/mob/hero-c.jpg');
  background-image: url('../images/home/mob/hero-768.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  
  @media only screen and ( min-width: 550px ) {
    // background-image: url('../images/home/mob/hero-768.jpg');
    min-height: 650px;
    min-height: 65rem;
  }

  @media only screen and ( min-width: 809px ) {
    background-size: 810px auto;
  }

  @media all and ( min-width: 972px ) {
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10%;
  }

}
 
.sgnm-bachans {

  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 520px;  

  &-bachan {
    opacity: 0;
    position: absolute;
    width: 90%;
    bottom: 10px;
    left: 5%;
    color: $color-white;

    text-align: center;
    text-transform: uppercase;

    font-size: 1.8rem;

    background: rgba(229, 99, 63, 0.9);

    line-height: 3rem;
    padding: 0 2rem;

    
    animation: sgnmTitleAnimation $total-time-to-animate linear infinite 0s;

    @media only screen and ( min-width: 768px ) {
      font-size: 2.5rem;
      line-height: 3.5rem;
      padding: 0.5rem;
    }

    @media only screen and ( min-width: 972px ) {
      width: 40%;
      top: 50%;
      right: 20px;
      left: auto;
      bottom: auto;
      padding: 2rem;
      border-radius: 10px;
    }
    
    &-desc {
      margin: 5px 0;
      margin: 0.5rem 0;
    }

    &-author {
      margin: 5px 0;
      margin: 0.5rem 0;
      // font-size: 20px;
      // font-size: 2rem;
    }

  }

  @for $i from 2 through $num-of-items {
    
    &-bachan:nth-child( #{$i} ) {
      animation-delay: ( $animation-delay * ( $i - 1 ) ); 
    } 
  }

}

@media only screen and ( min-width: 1140px ) {
  .sgnm-cb-slideshow li .d-align-left { 
      text-align: center;
      top: 45%;
      left: 10%;
      width: 30%;
  }

  .sgnm-cb-slideshow li .d-align-right { 
      text-align: center;
      top: 36%;
      right: 6%;
      width: 30%;
  }
}

/* Animation for the title */
@keyframes sgnmTitleAnimation { 
  0% { opacity: 0; }
  8% { opacity: 1; }
  17% { opacity: 1; }
  19% { opacity: 0; }
  100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .sgnm-cb-slideshow li span {
  opacity: 1;
}