.sgnm-hero-section {

  // background-size: cover;
  background-color:	#EEEDF5;

  // @media only screen and (min-width: 431px) {
  //   background-size: 430px auto;
  // }

  
  // background-image: url('../images/home/mob/hero-c.jpg');
  // background-position: center center;
  // background-repeat: no-repeat;
  
  // width: 100%;
  // height: 100vh;
  // min-height: 520px;
  // min-height: 52rem;
  // max-height: 736px;
  // max-height: 73.6rem;
  // position: relative;

  // @media only screen and (min-width: 768px) and (min-height: 830px) {
  //   background-image: url('../images/home/mob/hero-768.jpg');
  //   background-size: cover;
  //   background-position: center center;
  //   height: 90vh;
  // }

  // @media only screen and (min-width: 768px) and (max-width: 971px) {
  //   background-size: 770px auto;
  // }

  // @media only screen and (min-width: 972px) and (min-height: 830px) {
  //   background-position: left center;
  //   background-size: 600px;
  // }

  &:after {
    position: absolute;
    width: 100%;
    height: 100vh;
    max-height: 736px;
    max-height: 73.6rem;
    top: 0px;
    left: 0px;
    content: '';
    background: transparent url(../images/home/hero/pattern.png) repeat top left; 
  }
}

@import 'app/pages/index/components/sectionHero-v2/bachans-list';